# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which are not supported by .gitignore).

# .git directory
.git

# Python cache
__pycache__/
*.pyc


# Virtual environments
env/
venv/

# VSCode settings
.vscode/

# MacOS specific files
.DS_Store


# Docker files
.dockerignore

# Cloud Build files
cloudbuild.yaml
.gcloudignore
